<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/themes/MobileTheme.min.css" />
    <link rel="stylesheet" href="/stylesheets/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="/stylesheets/jquery.mobile.structure-1.4.5.min.css" />
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="header">
    <h1>Home</h1>
</div>

<div role="main" class="ui-content">
    <h1>Hello, <%=user.username%></h1>
</div>

<div data-role="footer">
    <h4>Page Footer</h4>
</div>
</body>
</html>